.mainBody{
    height: 70%;
    padding: 20px;
}
.addMovie{
    height: 10%;
    display: flex;
    justify-content:flex-end;
}
.movieList{
    height: 80%;
    overflow-y: scroll;
}
.headerRow{
    width: 100%;
    height: 45px;
    display:flex;
    background-color:dimgrey;
}
.table{
    width:100%;
}

.headerField{
    border-radius:5px;
    width:20%;
    margin: 0 10px;
    padding: 10px;
    justify-content:center;
}
.headerField span{
    font-weight:bold;
    font-size: 20px;
    margin: 0 25%;
}

@media screen and (max-width: 800px){
    .headerField span{
        font-weight:unset;
        font-size: unset;
        margin: 0px;
    }
    .headerField{
        width: unset;
        margin: unset;
    }
}